{{ form_start(articleForm) }}
    {% if articleForm.vars.data.imageFilename %}
        <img src="{{ articleForm.vars.data.imageFilename | imagine_filter('articles_preview') }}" height="100">
    {% endif %}

    {{ form_row(articleForm.image, {
        label: 'Изображение',
        attr: {
            placeholder: 'Выберите изображение'
        }
    }) }}
    {{ form_row(articleForm.title, {
        label: 'Заголовок статьи'
    }) }}
    {{ form_row(articleForm.body, {
        label: 'Текст статьи'
    }) }}
{% if articleForm.publishedAt is defined %}
    {{ form_row(articleForm.publishedAt, {
        label: 'Дата публикации'
    }) }}
{% endif %}
    {{ form_row(articleForm.author, {
        label: 'Автор'
    }) }}

<button class="btn btn-lg btn-primary" type="submit">{{ button_text }}</button>
{{ form_end(articleForm) }}